.navbar{
    display: flex;
    justify-content: space-around;
    padding-left:5% ;
    padding-top: 1%;
}

.navlink{
    text-decoration: none;
    font-size: 1.5rem;
   
    transition: 0.4s;
}

.navlink.active{
    text-decoration: underline solid snow;
 

}

.darkmode .navlink{
color: #72a8ff;
text-shadow: 8px 8px 8px rgba(59, 130, 246, 0.8);
}

.lightmode .navlink{
    color: #000000;
text-shadow: 0 0 6px rgba(20, 19, 19, 0.6);
} 

.themebutton{
    border-radius: 30%;
    background: transparent;
    font-size: 1.5rem;

}

.darkmode .themebutton{
    
    background-color: whitesmoke;
    box-shadow: 0 8px 8px rgba(59, 131, 246, 0.436);

}
.lightmode .themebutton{
    
    background-color: whitesmoke;
    box-shadow: 0 8px 8px rgba(15, 17, 20, 0.436);

}

.darkmode .navlink.active{
    text-decoration: underline solid rgb(255, 255, 255);
   font-size: 1.7rem;
    transition: 0.7s;
}
.lightmode .navlink.active{
    text-decoration: underline solid rgba(0, 0, 0, 0.549);
   font-size: 1.7rem;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .navlink {
        font-size: 0.7rem;
        
    }

  .darkmode .navlink.active{
   
   font-size: 1rem;
    
}
.lightmode .navlink.active{
   
   font-size: 1rem;
  
}

.themebutton{
    
    font-size: 1rem;

}
}